
body {
    background-repeat: no-repeat;
    background: fixed;
    background-position: center;
    background-size: cover;
}


.trophy-card {
    font-size: 20px;
    background-color: white;
    border-radius: 25px;
}


.trophy-title {
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.trophy-year {
    font-size: large;
}

.trophy-graph {
    border-radius: 0px 0px 25px 25px;
    background-color: transparent;
}

.card-title {
    font-weight: bold;
    font-size: 30px;
}

.card-text {
    font-size: 18px;
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 2vh;
}

.arrow {
    font-size: 40px;
    border-radius: 50%;
    transition: all 0.5s;
    text-decoration: none;
    padding: 10px;
    backdrop-filter: blur(5px);
    border: 3px solid;
    padding: 1% 9%;
}

.arrow:hover {
    color: grey;
}


.tabela {
    width: 100%;
    font-size: larger;
    table-layout: fixed;
}

@media (max-width: 576px) {
    .tabela, .trophy-title {
        font-size: large;
    }
    .trophy-year {
        font-size: medium;
    }    
}



.logo-trophy {
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.tabela-header {
    background-color: grey;
}


tr.even {
    background-color: #f2f2f2;
    /* Cor de fundo para linhas pares */
}

tr.odd {
    background-color: #cccbcb;
    /* Cor de fundo para linhas ímpares */
}



/*trofeus*/


.wc22 {
    background-color: #3b0115;
    color: #fff;
    border-color: #fff;
}

.ptbetclic {
    background-color: #0b0437;
    color: #fff;
    border-color: #b80000;
}

.ptbwin {
    background-color: #ffcc15;
    color: #000000;
    border-color: #000000;
}

.ptpredict {
    background-color: #fdea00;
    color: #252525;
    border-color: #252525;
}

.ptbattle {
    background-color: #740101;
    color: #d4ff00;
    border-color: #197225;
}

.premier {
    background-color: #37003c;
    color: #fff;
    border-color: #fff;
}

.endraft {
    background-color: #37003c;
    color: #00FF87;
    border-color: #00FF87;
}

.emirates {
    background-color: #122045;
    color: #fff;
    border-color: #DD2531;
}

.champions {
    background-color: #020236;
    color: #fff;
    border-color: #fff;
}

.uclpredictor {
    background-color: #060c60;
    color: #fff;
    border-color: #fff;
}
.uclbattle {
    background-color: #001d74;
    color: #fff;
    border-color: #fff;
}
.uelpredictor {
    background-color: #FF3C00;
    color: #000;
    border-color: #000;
}


.euro24 {
    background-color: #1534E4;
    color: #fff;
    border-color: #1F1F2B;
}

.euro24predictor {
    background-color: #0D1E62;
    color: #fff;
    border-color: #FF3C00;
}

.euro24bracket {
    background-color: #186cff;
    color: #fff;
    border-color: #0D1E62;
}


#lineChart {
    /* height: 500px; */
    background-color: transparent;
}


a.btn.back {
    font-size: 40px;
    font-weight: bolder;
    background-color: white;
    color: black;
    border-radius: 25px;
    transition: all 0.5s;
}

a.btn.back:hover {
    background-color: transparent;
    transition: all 0.5s;
}

a.btn.back:active {
    border-color: transparent;
    transition: all 0.5s;
}